<div id="hero-container">
    <div id="hero-heading">
        <h1>Welcome to issues Tracker</h1>
        <h1>Track bugs, fixes, feature requests and more</h1>
    </div>
    <div id="user-options">
        <div id="signup">
            <a href="/user/signup">Sign Up</a>
        </div>
        <div id="login">
            <a href="/user/login">Login</a>
        </div>
    </div>
</div>